:root {
    --gutter-width: 1rem;
    --outer-margin: 2rem;
    --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
    --half-gutter-width: calc((var(--gutter-width) * 0.5));
    --xs: 30;
    --sm: 48;
    --md: 64;
    --lg: 75;
}


.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width: 48em) {
    .container {
        width: calc(var(--sm) * 1rem - var(--half-gutter-width));
    }
}

@media screen and (min-width: 64em) {
    .container {
        width: calc(var(--md) * 1rem - var(--half-gutter-width));
    }
}

@media screen and (min-width: 75em) {
    .container {
        width: calc(var(--lg) * 1rem - var(--half-gutter-width));
    }
}


.row {
    box-sizing: border-box;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: var(--gutter-compensation);
    margin-left: var(--gutter-compensation);
    display: flex;overflow: hidden;
}

.column,
.columns {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width, 0.5rem);
    padding-left: var(--half-gutter-width, 0.5rem);
}

.column:first-child,
.columns:first-child {
    margin-left: 0;
}

.one.column,
.one.columns {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
}

.two.columns {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
}

.three.columns {
    max-width: 25%;
    flex-basis: 25%;
}

.four.columns {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%;
}

.five.columns {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
}

.six.columns {
    max-width: 50%;
    flex-basis: 50%;
}

.seven.columns {
    max-width: 58.33333333%;
    flex-basis: 58.33333333%;
}

.eight.columns {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%;
}

.nine.columns {
    max-width: 75%;
    flex-basis: 75%;
}

.ten.columns {
    max-width: 83.33333333%;
    flex-basis: 83.33333333%;
}

.eleven.columns {
    max-width: 91.66666667%;
    flex-basis: 91.66666667%;
}

.twelve.columns {
    max-width: 100%;
    flex-basis: 100%;
}

.one-third.column {
    max-width: 33.33333333%;
    flex-basis: 33.33333333%;
}

.two-thirds.column {
    max-width: 66.66666667%;
    flex-basis: 66.66666667%;
}

.one-half.column {
    max-width: 50%;
    flex-basis: 50%;
}

/* Offsets */
.offset-by-one.column,
.offset-by-one.columns {
    margin-left: 8.33333333%;
}

.offset-by-two.column,
.offset-by-two.columns {
    margin-left: 16.66666667%;
}

.offset-by-three.column,
.offset-by-three.columns {
    margin-left: 25%;
}

.offset-by-four.column,
.offset-by-four.columns {
    margin-left: 33.33333333%;
}

.offset-by-five.column,
.offset-by-five.columns {
    margin-left: 41.66666667%;
}

.offset-by-six.column,
.offset-by-six.columns {
    margin-left: 50%;
}

.offset-by-seven.column,
.offset-by-seven.columns {
    margin-left: 58.33333333%;
}

.offset-by-eight.column,
.offset-by-eight.columns {
    margin-left: 66.66666667%;
}

.offset-by-nine.column,
.offset-by-nine.columns {
    margin-left: 75%;
}

.offset-by-ten.column,
.offset-by-ten.columns {
    margin-left: 83.33333333%;
}

.offset-by-eleven.column,
.offset-by-eleven.columns {
    margin-left: 91.66666667%;
}

.offset-by-one-third.column,
.offset-by-one-third.columns {
    margin-left: 33.33333333%;
}

.offset-by-two-thirds.column,
.offset-by-two-thirds.columns {
    margin-left: 669.66666667%;
}

.offset-by-one-half.column,
.offset-by-one-half.columns {
    margin-left: 50%;
}