:root {
    --gutter-width: 1rem;
    --outer-margin: 2rem;
    --gutter-compensation: calc((var(--gutter-width)*0.5)*-1);
    --half-gutter-width: (var(--gutter-width)*0.5);
    --xs: 30;
    --sm: 48;
    --md: 64;
    --lg: 75
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    max-width: calc(var(--lg)*1rem - var(--half-gutter-width));
}


/* 
@media screen and (min-width:64em) {
    .container {
        width: calc(var(--md)*1rem - var(--half-gutter-width))
    }
}

@media screen and (min-width:75em) {
    .container {
        width: calc(var(--lg)*1rem - var(--half-gutter-width))
    }
} */

.grid {
    box-sizing: border-box;
    display: flex;
    /* flex: 0 1 auto; */
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.5em;
}

.column {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0;
}


.one{
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%
}

.two {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%
}

.three {
    flex-basis: 25%;
    max-width: 25%
}

.four {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.five {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%
}

.six {
    flex-basis: 50%;
    max-width: 50%
}

.seven {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.eight {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.nine {
    flex-basis: 75%;
    max-width: 75%
}

.ten {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.eleven {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.twelve {
    flex-basis: 100%;
    max-width: 100%
}

.one-third {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.two-thirds {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.one-half {
    flex-basis: 50%;
    max-width: 50%
}

.offset-by-one {
    margin-left: 8.33333333%
}

.offset-by-two {
    margin-left: 16.66666667%
}

.offset-by-three {
    margin-left: 25%
}

.offset-by-four {
    margin-left: 33.33333333%
}

.offset-by-five{
    margin-left: 41.66666667%
}

.offset-by-six{
    margin-left: 50%
}

.offset-by-seven{
    margin-left: 58.33333333%
}

.offset-by-eight{
    margin-left: 66.66666667%
}

.offset-by-nine{
    margin-left: 75%
}

.offset-by-ten {
    margin-left: 83.33333333%
}

.offset-by-eleven {
    margin-left: 91.66666667%
}

.offset-by-one-third {
    margin-left: 33.33333333%
}

.offset-by-two-thirds{
    margin-left: 66.66666667%
}

.offset-by-one-half{
    margin-left: 50%
}

@media screen and (max-width:48em) {
    .grid {
        display: block;
        margin: 0;
    }
    .column, .columns {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}